<%- include('blocks/header') %>
  <style>.pad { padding-left: 5%; padding-right: 5%; width: 100% !important; }</style>
  <div class="container mt-2">
    <div class="the-project pad" style="padding-top: 10%; padding-bottom: 16%;">
      <div style="text-align: left;">
        <h1 style="font-weight: 1000; font-size: 320%; ">Uh oh, that page doesn't exist!</h1>
        <p style="font-size: 150%;">Sorry, the page you were looking for doesn't exist.</p>
        <button class="btn btn-primary" onclick="window.location=window.location.origin"><i class="fas fa-home" style="color: #fff !important;"></i> Return Home</button>
        <button class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="if (localStorage.getItem('name')) return  alert(`You're already signed in!`); window.location=window.location.origin + '/login'"><i class="fas fa-sign-in-alt"></i> Log in</button>
      </div>
      <div style="margin-left: 5%;"><img id="lady" src="/img/404.svg" class="img-fluid d-block float-md-right" width="600vw"></div>
    </div>
</div>
</div><br>
<%- include('blocks/footer') %>
  </body>
</html>
