<%- include('blocks/header') %>
  <style>.pad { padding-left: 5%; padding-right: 5%; width: 100% !important; }</style>
  <div class="container mt-2">
    <div class="pad" style="padding-top: 5%; padding-bottom: 10%;">
      <h1 style="font-weight: bold;"><i class="fas fa-comments"></i> Community</h1>
      <p style="font-size: 120%;">We're a community who are stepping up to fight COVID-19. <a href="https://docs.google.com/spreadsheets/d/1u1EmFWSR-y7wd7uen62_r2EdZXL3DMH_59ZB5ZAb78E/edit?usp=sharing" target="_blank">Click here</a> to get the most up-to-date resources.</p>
      <small>Note: please keep discussion civil. Breaking our <a href="/terms">Terms and Conditions</a> will result in a permanent blacklist.</small>
    </div>
    
    <div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 563; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
        url: window.location.href,
        id: 'discuss'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
</div><br>
<%- include('blocks/footer') %>
  </body>
</html>

