<%- include('blocks/header') %>
  <style>.pad { padding-left: 5%; padding-right: 5%; width: 100% !important; }</style>
  <div class="container mt-2">
    <div class="pad" style="padding-top: 5%; padding-bottom: 10%;">
      <h1 style="font-weight: bold;"><i class="fas fa-comments"></i> Community</h1>
      <p style="font-size: 120%;">We're a community who are stepping up to fight COVID-19. <a href="https://docs.google.com/spreadsheets/d/1u1EmFWSR-y7wd7uen62_r2EdZXL3DMH_59ZB5ZAb78E/edit?usp=sharing" target="_blank">Click here</a> to get the most up-to-date resources.</p>
      <small>Note: please keep discussion civil. Breaking our <a href="/terms">Terms and Conditions</a> will result in a permanent blacklist.</small>
    </div>
    
    <div id="hyvor-talk-view"></div>
<script type="text/javascript">
    const makeid = length => {
        let text = "";
        const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (let i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }

        return text;
    }

    if (!localStorage.comID) localStorage.comID = makeid(20);

    var HYVOR_TALK_WEBSITE = 563; // DO NOT CHANGE THIS
    const data = btoa(JSON.stringify({
      id: localStorage.comID || makeid(20),
      name: 'Guest-' + localStorage.comID,
      email: 'guest@guest.guest',
      url: `https://app.covidheroes.net/profile?id=${localStorage.id}`,
      picture: `${window.location.origin}/img/default-icon.jpg`
    }));
    var HYVOR_TALK_CONFIG = {
      url: window.location.href,
      id: 'discuss',
      sso: {
        id: 9,
        userData: data,
        loginURL: "https://covidheroes.net/login",
        signupURL: "https://covidheroes.net/signup"
      }
    };

    async function init() {
      HYVOR_TALK_CONFIG = {
        url: window.location.href,
        id: 'discuss',
        sso: {
          id: 9,
          hash: ((await fetch(`${window.location.origin}/v1/hash?userdata=${data}`).then(res => res.json())).hmac),
          userData: data,
          loginURL: "https://covidheroes.net/login",
          signupURL: "https://covidheroes.net/signup"
        }
      };
      hyvor_talk.reload(HYVOR_TALK_CONFIG);
    }
      
    init();
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
</div><br>
<%- include('blocks/footer') %>
  </body>
</html>

