<%- include('blocks/header') %>
  <style>.pad { padding-left: 5%; padding-right: 5%; width: 100% !important; }</style>
  <div class="container mt-2">
    <div class="pad" style="padding-top: 5%; padding-bottom: 10%;">
      <h1 style="font-weight: bold;">Discussion</h1>
      <p style="font-size: 150%;">We're a community who are stepping up to fight COVID-19.</p>
      <small>Note: this page is not finished.</small>
    </div>
    
    <div id="disqus_thread"></div>
    <script>

      // var disqus_config = function () {
      // this.page.url = window.location.origin;  // Replace PAGE_URL with your page's canonical URL variable
      // this.page.identifier = ID; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      // };
      if (!localStorage.getItem('name')) {
        window.location = `${window.location.origin}/login`;
      }
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://corona-4.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      
</div>
</div><br>
<%- include('blocks/footer') %>
