<%- include('blocks/header') %>
  <style>.pad { padding-left: 5%; padding-right: 5%; width: 100% !important; }</style>
  <div class="container mt-2">
    <div class="the-project pad" style="padding-top: 10%; padding-bottom: 16%;">
      <div style="text-align: left;">
        <h1 style="font-weight: 1000; font-size: 320%; ">Fighting COVID-19, <br>One <b style="color: #6C63FF;">Step <i class="fas fa-running"></i></b> at a Time</h1>
        <p style="font-size: 150%;">The platform for <b>exchanging</b> needed materials using <b>requests</b> and <b>fulfillments</b>.</p>
        <button class="btn btn-primary" onclick="if (localStorage.getItem('name')) return alert(`You're already signed in!`); window.location=window.location.origin + '/signup'"><i class="fas fa-hand-spock" style="color: #fff !important;"></i> Join Us Today!</button>
        <button class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="if (localStorage.getItem('name')) return  alert(`You're already signed in!`); window.location=window.location.origin + '/login'"><i class="fas fa-sign-in-alt"></i> Log in</button>
      </div>
      <div style="margin-left: 5%;"><img id="lady" src="./global.svg" class="img-fluid d-block float-md-right" width="600vw"></div>
    </div>
    
    <div class="pad" style="padding-top: 10%; padding-bottom: 10%; background: #F5F4F9;">
      <h2 style="font-weight: bold; font-size: 250%;"> Our Mission</h2>
      <p style="font-size: 120%;">
        By connecting users in similar locations, we believe we can limit the damage done by the spread of coronavirus
        through the exchange of needed necessities.
      </p>
      <button class="btn hover" style="outline: none; border: none;background: #fff; padding: 12px; padding-right: 20px; padding-left: 20px; border-radius: 7px; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important;"><a href="/discuss" class="hitbox">Discuss <i class="fas fa-arrow-right"></i></a></button>
    </div>

    <div class="the-project" style="padding-top: 10%; padding-bottom: 10%; font-size: 160%; color: #000; font-weight: bold;">
      <div class="hover"><i class="fas fa-tachometer-fast fa-3x"></i><br>Efficient</div>
      <div class="hover"><i class="fas fa-map-marker-alt fa-3x"></i><br>Location Based</div>
      <div class="hover"><i class="fas fa-draw-circle fa-3x"></i><br>Simple Design</div>
    </div>

    <div class="pad" style="padding-top: 10%; padding-bottom: 10%; background: #F5F4F9;">
      <h2 style="font-weight: bold; font-size: 250%;">How COVID Heroes Works</h2>
      <p style="font-size: 120%;">
        We provide a communication service that bridges requesters and fullfillers. This is mainly towards the dwindling amounts of supplies during the COVID-19 crisis.
      </p>
      <button class="btn hover" style="outline: none; border: none;background: #fff; padding: 12px; padding-right: 20px; padding-left: 20px; border-radius: 7px; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important;"><a href="/requests" class="hitbox">Our Service <i class="fas fa-arrow-right"></i></a></button>
    </div>

    <div style="padding-top: 10%; padding-bottom: 10%; text-align: center">
      <h1 style="font-weight: 1000; font-size: 250%; ">Join the Fight Today!</h1>
      <p style="font-size: 120%;">We are the ones who will stop COVID-19, one step at a time.</p>
      <button class="btn btn-primary" onclick="if (localStorage.getItem('name')) return alert(`You're already signed in!`); window.location=window.location.origin + '/signup'"><i class="fas fa-hand-spock" style="color: #fff !important;"></i> Join Us Today!</button>
      <button class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="if (localStorage.getItem('name')) return  alert(`You're already signed in!`); window.location=window.location.origin + '/login'"><i class="fas fa-sign-in-alt"></i> Log in</button>
    </div>

    <!-- <h3>Why?</h3>
    <h5>Global Timeline Progression</h5>
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>

    <br><br>
    <p class="chart-desc">
      A time line of data, as well as predicted expansion of the coronavirus is shown in the left image. 
      Unprecendented rates of increase give the need for a faster, more-effective way of getting needed medical supplies.
      <br><br>
    <button class="btn btn-danger" onclick="window.open('https://www.cdc.gov/coronavirus/2019-ncov/index.html', '_blank')">More info</button>
  </p> -->
</div>
</div><br>
<%- include('blocks/footer') %>
    <script src="/index.js" defer></script>
  </body>
</html>
