<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta description="Simple SaaS for tracking COVID-19 statistics">

    <meta property="og:title" content="COVID-19 Tracker">
    <meta property="og:description" content="Simple SaaS for tracking COVID-19 statistics">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css" />
    <link
      rel="stylesheet"
      href="./style.css"
    />
    <link rel="shortcut icon" href="" type="image/png">

    <title>BowlCount</title>
  </head>
  <body>
    <div class="container">Hello World</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="./index.js" defer></script>
  </body>
</html>