<%- include('blocks/header') %>
  <script src="https://cdn.jsdelivr.net/npm/afterglowplayer@1/dist/afterglow.min.js"></script>
  <style>.pad { padding-left: 5%; padding-right: 5%; width: 100% !important; }</style>
  <div class="container-fluid mt-2">
    <div class="container" style="padding-top: 5%; padding-bottom: 10%;">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div style="text-align: left;">
            <a class="announcement" href="https://team2471.org/infinite-resource/" target="_blank">
              <span class="badge badge-outline-primary" style="background: #6C63FF !important; color: #fff !important">New</span>
              <span class="message">
                Check out Infinite Resource
                <i class="fas fa-chevron-right fa-xs" aria-hidden="true"></i>
              </span>
            </a>
            <h1 style="font-weight: 1000; font-size: 300%; ">Fighting COVID-19, <br>One <b style="color: #6C63FF;"><i class="fas fa-running"></i></b> at a Time</h1>
            <p style="font-size: 150%;">The platform for <b>exchanging</b> needed materials using <b>requests</b> and <b>fulfillments</b>.</p>
            <button class="btn btn-primary" onclick="if (localStorage.getItem('name')) return alert(`You're already signed in!`); window.location=window.location.origin + '/signup'"><i class="fas fa-hand-spock" style="color: #fff !important;"></i> Join Us Today!</button>
            <button class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="if (localStorage.getItem('name')) return  alert(`You're already signed in!`); window.location=window.location.origin + '/login'"><i class="fas fa-sign-in-alt"></i> Log in</button>
          </div>
          <br>
        </div>
        <div class="col-12 col-md-5 col-lg-6 order-md-2" id="lady">
          <iframe style="border-radius: 7px;" class="hover" width="560vw" height="315vw" src="https://www.youtube.com/embed/Z1zodLsAfPU?color=white&controls=0&autoplay=0&modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    
    <div style="padding-top: 8%; padding-bottom: 8%; background: #F5F4F9;">
      <div class="container pad">
        <h2 style="font-weight: bold; font-size: 250%;"> Our Mission</h2>
        <p style="font-size: 120%;">
          We aim to help people in need during the COVID-19 epidemic locate, receive, and exchange needed necessities from within their community.
        </p>
        <button class="btn hover" style="outline: none; border: none;background: #fff; padding: 12px; padding-right: 20px; padding-left: 20px; border-radius: 7px; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important;"><a href="/team" class="hitbox">Our Team <i class="fas fa-arrow-right"></i></a></button>
      </div>
    </div>

    <div class="pad the-project container" style="padding-top: 8%; padding-bottom: 8%; font-size: 200%; color: #000; font-weight: bold; text-align: center">
      <!-- <div class="col-md-6" id="lady2">
        <div title="@jjangsuyx" style="margin-right: 3%; margin-top: -3%"><img src="./img/covidheroes.png" class="hover img-fluid d-block float-md-right" width="330em"></div><br>
      </div> -->
      <div class="hover"><i class="fas fa-tachometer-fast fa-2x"></i><br>Efficient</div><br>
      <div class="hover"><i class="fas fa-user-shield fa-2x"></i><br>Trusted</div><br>
      <div class="hover"><i class="fas fa-lock fa-2x"></i><br>Secure</div>
    </div>

    <div style="padding-top: 10%; padding-bottom: 10%; background: #F5F4F9;">
      <div class="container pad">
        <h2 style="font-weight: bold; font-size: 250%;">How it Works</h2>
        <p style="font-size: 120%;">
          We provide a platform for individuals and communities to request resources, or to fulfill requests of those in need during the COVID-19 epidemic. 
        </p>
        <button class="btn hover" style="outline: none; border: none;background: #fff; padding: 12px; padding-right: 20px; padding-left: 20px; border-radius: 7px; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important;"><a href="/requests" class="hitbox">Requests <i class="fas fa-arrow-right"></i></a></button> 
      </div>
    </div>

    <div class="container" style="padding-top: 10%; padding-bottom: 10%; text-align: center">
      <h1 style="font-weight: 1000; font-size: 250%; ">Join the Fight Today!</h1>
      <p style="font-size: 120%;">We are the ones who will stop COVID-19, one step at a time.</p>
      <button class="btn btn-primary" onclick="if (localStorage.getItem('name')) return alert(`You're already signed in!`); window.location=window.location.origin + '/signup'"><i class="fas fa-hand-spock" style="color: #fff !important;"></i> Join Us Today!</button>
      <button class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="if (localStorage.getItem('name')) return  alert(`You're already signed in!`); window.location=window.location.origin + '/login'"><i class="fas fa-sign-in-alt"></i> Log in</button>
    </div>
</div>
</div><br>
<%- include('blocks/footer') %>
    <script src="/js/index.js" defer></script>
  </body>
</html>
