<%- include('blocks/header') %>
  <div class="container"></div>
  <div class="container mt-2">
    <h1>The Sharing Platform for Medical Resources</h1>
    <p>A platform for exhange of needed materials using requests and fulfillments.</p>
    <hr>
    <h3>The Goals</h3>
    <p>
      By connecting users in similar locations, we believe we can limit the damage done by the spread of coronavirus
      through the exchange of needed medical goods.
    </p>
    <hr>


    <div class="the-project">
        <div><i class="fas fa-tachometer-fast fa-3x"></i><br>Fast</div>
        <div><i class="fas fa-map-marker-alt fa-3x"></i><br>Location Based</div>
        <div><i class="fal fa-draw-circle fa-3x" style="color:rgb(147, 76, 158)"></i><br>Multipurpose</div>
  </div>
    
    <hr>

    <h3>Why?</h3>
    <h5>Global Timeline Progression</h5>
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>

    <br><br>
    <p class ="chart-desc">
      A time line of data, as well as predicted expansion of the coronavirus is shown in the left image. 
      Unprecendented rates of increase give the need for a faster, more-effective way of getting needed medical supplies.
      <br><br>
    <button class="btn btn-danger" onclick="window.open('https://www.cdc.gov/coronavirus/2019-ncov/index.html', '_blank')">More info</button>
  </p><br>
  <hr>
  <br>
  <div class="maps">
  <p>
    <h3>Your location</h3>
  </p>
  <!--  -->
  </div>

  </div>
</div><br>
<%- include('blocks/footer') %>
