<%- include('blocks/header') %>
  <div class="container"></div>
  <div class="container mt-2">
    <h1>The Data Platform for COVID-19</h1>
    <p>Powerful SaaS using scikit machine learning to calculate prediction regression data</p>
    <hr>
    <h3>Global Timeline Progression</h3>
    <canvas id="chart"></canvas>
    <hr>
    <h3>Global Timeline Table Data</h3>
    <table class="table" id="dateTable">
      <thead>
        <tr id="head">
          <th scope="col"><i class="fas fa-sun"></i> Day</th>
          <th scope="col"><i class="fas fa-exclamation"></i> Cases</th>
          <th scope="col"><i class="fas fa-skull-crossbones"></i> Deaths</th>
        </tr>
      </thead>
      <tbody id="table"></tbody>
      <br />
    </table>
  </div>
</div><br>
<%- include('blocks/footer') %>
