<!DOCTYPE html>
<html lang="en" class="no-js">
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="theme-color" content="#6C63FF" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
        description="The platform for exhanging needed materials using requests and fulfillments."
      />
      <meta
        name="description"
        content="The platform for exhanging needed materials using requests and fulfillments."
      />

      <meta property="og:title" content="COVID Heroes" />
      <meta
        property="og:description"
        content="The platform for exhanging needed materials using requests and fulfillments."
      />
      <meta property="og:image" content="https://covidheroes.net/img/logo.png" />
      <meta property="og:image:width" content="200" />
      <meta property="og:image:height" content="200" />

      <link rel="stylesheet" href="/css/landing.css" />
      <link
        rel="stylesheet"
        href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css"
      />
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
      <link rel="manifest" href="/manifest.json" />

      <title>COVID Heroes</title>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161775281-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161775281-1');
      </script>
    </head>
    <body class="t">
      <div class="ng">
        <header
          class="nu reveal-from-bottom"
          style="
            position: fixed !important;
            top: 0 !important;
            width: 100% !important;
            background: rgba(255, 255, 255, 0.959);
            border-bottom: 1px solid rgba(0, 0, 0, 0.075);
          "
        >
          <div class="tcontainern">
            <div class="nc">
              <div class="nl">
                <h1 class="ss">
                  <a><img src="/img/text_logo.png" width="170" /></a>
                </h1>
              </div>
              <button id="tu" class="tu" aria-controls="primary-menu" aria-expanded="false">
                <span class="is">Menu</span> <span class="ta"><span class="tf"></span></span>
              </button>
              <nav id="nh" class="nh">
                <div class="np">
                  <ul class="io h nv">
                    <li>
                      <a
                        class="hover"
                        href="/login"
                        style="
                          color: #6c63ff;
                          font-weight: bold;
                          text-transform: none !important;
                          font-size: 120%;
                        "
                        >Login</a
                      >
                    </li>
                  </ul>
                  <ul class="io nv">
                    <li>
                      <a class="tbuttonn fbuttonl sbuttono hover" href="/signup">register</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </header>
        <main class="na">
          <section class="ri nf sn tillustration-section-n">
            <div class="rcontaineri" style="margin-top: 30px !important; margin-bottom: 90px;">
              <div class="rs rn">
                <div class="ro">
                  <h1 class="so ot reveal-from-bottom" data-reveal-delay="200">
                    <%=locals.t('main-title-before-man');%>
                    <b style="color: #6c63ff;"><i class="fas fa-running"></i></b>
                    <%=locals.t('main-title-after-man');%>
                  </h1>
                  <div class="scontainero">
                    <p class="so oc reveal-from-bottom" data-reveal-delay="400">
                      The community platform for exchanging needed materials using requests and
                      fulfillments.
                    </p>
                    <iframe
                      style="border-radius: 7px;"
                      class="hover"
                      width="560vw"
                      height="315vw"
                      src="https://www.youtube.com/embed/jg8u7Eg5Wbc?color=white&controls=0&autoplay=0&modestbranding=1"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                  <div>
                    <a
                      class="tbuttonn fbuttonl reveal-from-bottom hover"
                      data-reveal-delay="600"
                      href="/posts"
                      style="margin-top: 15px;"
                      >Try it out</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="rf nf sn rillustration-section-i">
            <div class="tcontainern">
              <div class="features-tiles-inner rn">
                <div class="tiles-wrap">
                  <div class="ns reveal-scale-up">
                    <div class="no">
                      <div class="features-tiles-item-header hover">
                        <div class="rq ot">
                          <img
                            src="/img/feature-tile-icon-01.svg"
                            alt="feature tile icon 01"
                            style="margin: 15px;"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="so sy">Communicate with volunteers</h4>
                        <p class="ss l">
                          Need resources or medical supplies? We have a great community of helpful
                          volunteers that are able to help you.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ns reveal-scale-up" data-reveal-delay="200">
                    <div class="no">
                      <div class="features-tiles-item-header hover">
                        <div class="rq ot">
                          <img
                            src="/img/feature-tile-icon-02.svg"
                            alt="feature tile icon 02"
                            style="margin: 20px;"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="so sy">Supportive community</h4>
                        <p class="ss l">
                          So who can help me? Our community consists of extremely friendly and
                          helpful volunteers and heroes, just create a request and be helped!
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ns reveal-scale-up" data-reveal-delay="400">
                    <div class="no">
                      <div class="features-tiles-item-header hover">
                        <div class="rq ot">
                          <img
                            src="/img/feature-tile-icon-03.svg"
                            alt="feature tile icon 03"
                            style="margin: 20px;"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="so sy">Trusted by organizations</h4>
                        <p class="ss l">
                          We're currently supported by Infinite Resource (Camas FRC & Camas Scioly)
                          and the Vancouver Chinese Association.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ns reveal-scale-up">
                    <div class="no">
                      <div class="features-tiles-item-header hover">
                        <div class="rq ot">
                          <img
                            src="/img/feature-tile-icon-04.svg"
                            alt="feature tile icon 04"
                            style="margin: 15px;"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="so sy">Made by students</h4>
                        <p class="ss l">
                          Who's behind COVID Heroes? COVID Heroes was initially started by three
                          students from Camas Science Olympiad, and now has grown to a
                          <a href="/team">team of seven</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ns reveal-scale-up" data-reveal-delay="200">
                    <div class="no">
                      <div class="features-tiles-item-header hover">
                        <div class="rq ot">
                          <img
                            src="/img/feature-tile-icon-05.svg"
                            alt="feature tile icon 05"
                            style="margin: 20px;"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="so sy">Email notifications</h4>
                        <p class="ss l">
                          Want to be notified of new posts? COVID Heroes offers comprehensive
                          togglable emails on weekly newsletters and posts.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="ns reveal-scale-up" data-reveal-delay="400">
                    <div class="no">
                      <div class="features-tiles-item-header hover">
                        <div class="rq ot">
                          <img
                            src="/img/feature-tile-icon-06.svg"
                            alt="feature tile icon 06"
                            style="margin: 15px;"
                          />
                        </div>
                      </div>
                      <div class="features-tiles-item-content">
                        <h4 class="so sy">Constant updates</h4>
                        <p class="ss l">
                          Our developers and staff are constantly working on COVID Heroes and
                          listening to you. You can check out our development repository on
                          <a href="https://github.com/camasscioly/covidheroes.net" target="_blank"
                            >Github</a
                          >.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="ra nf">
            <div class="tcontainern">
              <div class="features-split-inner rn se">
                <div class="tj nt">
                  <div class="split-item">
                    <div class="ne as reveal-from-left" data-reveal-container=".split-item">
                      <h3 class="so s_">Our Student Story</h3>
                      <p class="ss">
                        As communities around the world navigate these unprecedented times, the
                        principle on we operate on has never been forgotten.
                      </p>
                    </div>
                    <div
                      class="tq tz sillustration-element-o reveal-from-right"
                      data-reveal-container=".split-item"
                    >
                      <iframe
                        style="border-radius: 7px;"
                        class="hover"
                        width="560vw"
                        height="315vw"
                        src="https://www.youtube.com/embed/gdhYOyrhBT8?color=white&autoplay=0&modestbranding=1"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="ra nf">
            <div class="tcontainern">
              <div class="features-split-inner rn se">
                <div class="rr sn">
                  <div class="scontainero">
                    <h2 class="so ot">About COVID Heroes</h2>
                    <p class="ss">
                      We're an aspiring group of student volunteers stepping up to unite communities
                      to help each other with software.
                    </p>
                  </div>
                </div>
                <div class="tj nt">
                  <div class="split-item">
                    <div class="ne as reveal-from-left" data-reveal-container=".split-item">
                      <h3 class="so s_">Our Mission</h3>
                      <p class="ss">
                        We aim to help people in need during the COVID-19 epidemic locate, receive,
                        and exchange needed necessities from within their community.
                      </p>
                    </div>
                    <div
                      class="tq tz sillustration-element-o reveal-from-right"
                      data-reveal-container=".split-item"
                    >
                      <img class="hover" src="/img/covidheroes.png" alt="Features split image 01" />
                    </div>
                  </div>
                  <div class="split-item">
                    <div class="ne as reveal-from-right" data-reveal-container=".split-item">
                      <h3 class="so s_">How it works</h3>
                      <p class="ss">
                        We provide a platform for individuals and communities to request resources,
                        or to fulfill requests of those in need during the COVID-19 epidemic.
                      </p>
                    </div>
                    <div
                      class="tq tz uillustration-element-a reveal-from-left"
                      data-reveal-container=".split-item"
                    >
                      <img class="hover" src="/img/surgeonhero.png" alt="Features split image 02" />
                    </div>
                  </div>
                  <div class="split-item">
                    <div class="ne as reveal-from-left" data-reveal-container=".split-item">
                      <h3 class="so s_">Serving Clark County, WA</h3>
                      <p class="ss">
                        We're currently supported by
                        <a href="https://team2471.org/infinite-resource/" target="_blank"
                          >Infinite Resource</a
                        >
                        and the
                        <a href="http://vca-usa.org/" target="_blank"
                          >Vancouver Chinese Association</a
                        >, some of the initiatives in Clark County. Lots of community members are
                        using our platform to support each other and medical institutions in Clark
                        County as well.
                      </p>
                    </div>
                    <div
                      class="tq tz fillustration-element-l reveal-from-right"
                      data-reveal-container=".split-item"
                    >
                      <img class="hover" src="/img/nursehero.png" alt="Features split image 03" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="ra nf">
            <div class="tcontainern">
              <div class="pricing-inner rn om se">
                <div class="rr sn">
                  <div class="scontainero">
                    <h2 class="so ot">Join the Fight Today!</h2>
                    <p class="ss">
                      We are the ones who will stop COVID-19, one step at a time.
                    </p>
                    <br />
                    <a
                      class="tbuttonn fbuttonl reveal-from-bottom hover"
                      data-reveal-delay="600"
                      style="margin-top: 15px !important;"
                      href="/login"
                      >Join now!</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <br />
        <br />
        <footer class="ny as gillustration-section-y">
          <div class="tcontainern">
            <div class="nb se">
              <div class="nw re h reveal-from-bottom" data-reveal-offset="0">
                <div class="nl">
                  <a href="index.html"><img src="/img/text_logo.svg" alt="logo" width="170" /></a>
                </div>
                <div class="nq">
                  <ul class="io">
                    <li data-toggle="tooltip" data-placement="top" title="Github">
                      <a
                        style="text-decoration: none;"
                        target="_blank"
                        href="https://github.com/camasscioly/covidheroes.net"
                        ><i class="fab fa-github hover" style="font-size: 120%;"></i
                      ></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Producthunt">
                      <a
                        style="text-decoration: none;"
                        target="_blank"
                        href="https://www.producthunt.com/posts/covid-heroes?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-covid-heroes"
                        ><i class="fab fa-product-hunt hover" style="font-size: 120%;"></i
                      ></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Instagram">
                      <a
                        style="text-decoration: none;"
                        target="_blank"
                        href="https://instagram.com/covid_heroes_official"
                        ><i class="fab fa-instagram hover" style="font-size: 120%;"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="nx re h rt reveal-from-bottom"
                data-reveal-offset="0"
                data-reveal-delay="200"
              >
                <nav class="nz">
                  <ul class="io">
                    <li><a href="mailto:aiden@covidheroes.net">aiden@covidheroes.net</a></li>
                  </ul>
                </nav>
                <div class="footer-copyright">
                  Copyright © 2020 All Rights Reserved by
                  <a href="https://camasscioly.covidheroes.net" target="_blank"
                    >Camas Science Olympiad</a
                  >.
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <script src="/js/landing.js"></script>
      <script src="/js/index.js"></script>
      <script defer>
        var APP_ID = 'mnsa7ogc';

        window.intercomSettings = {
          app_id: APP_ID,
        };
        (function () {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === 'function') {
            ic('reattach_activator');
            ic('update', w.intercomSettings);
          } else {
            var d = document;
            var i = function () {
              i.c(arguments);
            };
            i.q = [];
            i.c = function (args) {
              i.q.push(args);
            };
            w.Intercom = i;
            var l = function () {
              var s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://widget.intercom.io/widget/' + APP_ID;
              var x = d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            };
            if (document.readyState === 'complete') {
              l();
            } else if (w.attachEvent) {
              w.attachEvent('onload', l);
            } else {
              w.addEventListener('load', l, false);
            }
          }
        })();
      </script>
    </body>
  </html>
</html>
