<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1>Login</h1>
      <p>Don't have an account? <a href="/signup">Join</a> here</p>
      <form id="login">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" id="name" placeholder="Enter username" required>
          <small id="userHelp" class="form-text text-muted">We'll never share your personal details with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <div class="g-recaptcha" data-sitekey="6LepN-MUAAAAAIaZKV-BSSEm-krAwdDo3jzZP53t" data-callback="enable"></div><br>
        <button type="submit" class="btn btn-primary" id="submit" disabled>Login</button>
      </form>
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&copy; 2019-present CoronaExchange. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./login.js" defer></script>
</body>
</html>
