<%- include('blocks/app-header') %>
  <link rel="stylesheet" href="/css/tags.min.css">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title" style="font-size: 170%">Create new submission</h1>
            <p style="font-size: 120%;" id="counter"><a>Loading...</a> and counting submissions!</p>
            <form id="offers" onsubmit="post(); return false;">
              <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label for="skills">Skills</label>
                <input id="skills" type="text" value="" placeholder="Enter skills" data-role="tagsinput" required><br>
                <small class="form-text text-muted">Type your skill, then press enter to save the skill. If you have multiple skills, remember to press enter between them.</small>
              </div>
              <div class="form-group">
                <label for="title">Description</label>
                <input list="itemlist" type="text" class="form-control autoCompleteItem" autocomplete="off" id="title" placeholder="Enter Description" maxlength="200" required>
              </div>
              <datalist id="itemlist">
                <option value="Ventilators">
                <option value="N95 Respirators">
                <option value="Surgical Masks">
                <option value="Coveralls">
                <option value="Surgical or Exam Gowns">
                <option value="Face Shields">
                <option value="Goggles">
                <option value="Examination Gloves">
                <option value="Hand Sanitizers">
                <option value="Wipes">
                <option value="Test Kits">
                <option value="Swabs">
                <option value="Viral Testing Media">
              </datalist>
              <datalist id="skillslist">
                <option value="Getting supplies">
                <option value="Volunteering">
                <option value="PPE Printing">
                <option value="Online chat">
                <option value="Software">  
                <option value="Other">
              </datalist>
              <div class="form-group">
                <label for="location">Dropoff Address</label>
                <input onFocus="geolocate()" type="text" class="form-control" id="location" placeholder="Enter Dropoff Address" maxlength="40" required>
              </div>
              <div class="form-group">
                <label for="tags">Quantity</label>
                <input value="0" maxlength="4" min="0" max="1000" type="number" oninput="update('input');" autocomplete="off" class="form-control" id="tags" placeholder="Enter Quantity of Item" maxlength="10" required>
              </div>
              <input type="range" class="custom-range" min="0" max="100" oninput="update('range');" id="slider" value="1" style="background: #fff !important; color: #000 !important;">
              <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name="exampleRadios" id="request-radio" checked>
                <label class="custom-control-label" for="request-radio">I am requesting resources</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="radio" class="custom-control-input" name="exampleRadios" id="offer-radio">
                <label class="custom-control-label" for="offer-radio">I am offering resources</label>
              </div><br>
              <div class="g-recaptcha" data-sitekey="6LepN-MUAAAAAIaZKV-BSSEm-krAwdDo3jzZP53t" data-callback="enable"></div><br>
              <button type="submit" class="btn btn-primary" id="submission-button" disabled>Submit</button>           
              <button type="button" class="btn btn-secondary" id="cancel-button" onclick="window.history.back()">Cancel</button> 
            </form>
          </div>
        </div><br>
      </div>
    </div>
  </div>
  <style>
    body {
      background: #F6F6F6 !important;
    }
  </style>
  <%- include('blocks/footer') %>
  <script>
    let placeSearch, autocomplete;
    
    let componentForm = {
      street_number: 'short_name',
      route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'short_name',
      country: 'long_name',
      postal_code: 'short_name'
    };
    
    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('location'), {types: ['geocode']});
      autocomplete.setFields(['address_component']);
      autocomplete.addListener('place_changed', fillInAddress);
    }
    
    function fillInAddress() {
      let place = autocomplete.getPlace();
    
      /*for (let component in componentForm) {
        document.getElementById(component).value = '';
        document.getElementById(component).disabled = false;
      }
    
      for (let i = 0; i < place.address_components.length; i++) {
        let addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          let val = place.address_components[i][componentForm[addressType]];
          document.getElementById(addressType).value = val;
        }
      }*/
    }
    
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          let geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          let circle = new google.maps.Circle(
              {center: geolocation, radius: position.coords.accuracy});
        });
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="./js/tags.min.js" defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh2J9GP72NGMhCWCUwHH3togISxVR8DG4&libraries=places&callback=initAutocomplete"></script>
  <script src="./js/offers.js" defer></script>
  </body>
</html>

