<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1><i class="fas fa-list"></i> Requests</h1>
      <p style="font-size: 120%;">Join the <a id="user-count">0</a> heroes helping each other.</p>
      <hr>
      <div class="alert alert-primary" role="alert">
        If you are in need of resources, <a href="/new">Click here to create a new request</a>.
      </div>
      <form id="search" onsubmit="search(); return false;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="search-input" placeholder="Search Item" maxlength="70">&nbsp;&nbsp;
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #000 !important; font-weight: bold !important">
              Setting
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown">
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" onclick="searchSetting = 'item'; document.querySelector('#search-input').placeholder = 'Search Item'; document.querySelector('#search-input').value = ''">Item</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" onclick="searchSetting = 'author'; document.querySelector('#search-input').placeholder = 'Search Author'; document.querySelector('#search-input').value = ''">Author</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" onclick="searchSetting = 'date'; document.querySelector('#search-input').placeholder = 'Search Date'; document.querySelector('#search-input').value = ''">Date</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" onclick="searchSetting = 'quantity'; document.querySelector('#search-input').placeholder = 'Search Quantity'; document.querySelector('#search-input').value = ''">Quantity</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" onclick="searchSetting = 'location'; document.querySelector('#search-input').placeholder = 'Search Location'; document.querySelector('#search-input').value = ''">Location</a>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="search()"><i class="fas fa-search" style="color: #fff !important"></i> Search</button>
        <button type="button" class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="window.location = `${location.origin}/requests`"><i class="fas fa-trash"></i> Reset</button><br>
      </form><br>
      <div class="table-responsive">
        <table class="table" id="dateTable">
          <thead>
            <tr id="head">
              <th scope="col">Item</th>
              <th scope="col">Author</th>
              <th scope="col">Information</th>
              <th scope="col">Controls</th>
            </tr>
          </thead>
          <tbody id="table">
            <tr id="loading1" style="color: rgba(0, 0, 0, 0.3)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.3)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading2" style="color: rgba(0, 0, 0, 0.25)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.25)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading3" style="color: rgba(0, 0, 0, 0.2)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.2)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading4" style="color: rgba(0, 0, 0, 0.15)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.15)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading5" style="color: rgba(0, 0, 0, 0.1)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.1)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
          </tbody>
          <br />
        </table>
      </div>
    </div>
  </div><br>
  <%- include('blocks/footer') %>
  <script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
  <script src="./js/offers.js" defer></script>
  </body>
</html>

