<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1>Create a Request</h1>
      <form id="offers">
        <div class="form-group">
          <label for="title">Item</label>
          <input type="text" class="form-control" id="title" placeholder="Enter Item Name" max-length="50" required>
        </div>
        <div class="form-group">
          <label for="tags">Quantity</label>
          <input type="number" class="form-control" id="tags" placeholder="Enter Quantity of Item" required>
        </div>
        <div class="g-recaptcha" data-sitekey="6LepN-MUAAAAAIaZKV-BSSEm-krAwdDo3jzZP53t" data-callback="enable"></div><br>
        <button type="submit" class="btn btn-primary" id="submit" disabled>Request</button>
      </form>
      <hr>
      <h1>Requests</h1>
      <table class="table" id="dateTable">
        <thead>
          <tr id="head">
            <th scope="col">Item</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
            <th scope="col">Quantity</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody id="table">
          
        </tbody>
        <br />
      </table>
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&copy; 2019-present CoronaExchange. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./offers.js" defer></script>
  </body>
</html>

