<%- include('blocks/app-header') %>
    <div class="container text-center">
          <p class="card-text"><br>
            <h1><i class="fas fa-hand-holding-heart"></i> Submissions</h1>
            <p style="font-size: 120%;">Join the <a id="user-count">0</a> heroes with <a id="req-count">0</a> current unresolved submissions.</p>
            <center><br>
            <%- include('blocks/alert') %>
            
            
            <form id="search" onsubmit="search(); return false;">
              <div class="input-group mb-3">
                <input list="itemlist" type="text" class="form-control" id="search-input" placeholder="Search Item" maxlength="70">
                <datalist id="itemlist">
                  <option value="Ventilators">
                  <option value="N95 Respirators">
                  <option value="Surgical Masks">
                  <option value="Coveralls">
                  <option value="Surgical or Exam Gowns">
                  <option value="Face Shields">
                  <option value="Goggles">
                  <option value="Examination Gloves">
                  <option value="Hand Sanitizers">
                  <option value="Wipes">
                  <option value="Test Kits">
                  <option value="Swabs">
                  <option value="Viral Testing Media">
                </datalist>
              </div>
            </center>
            </form>
          </p>
    </div>
    <br style="margin-bottom: 25px;">
    <div class="container text-center" style="text-align: center">
      <center>
        <div class="row card-columns hidden-md-down" id="cardView">
        
        </div>
      </center>
    </div>
  </div><br>
  <style>
    body {
      background: #F6F6F6;
    }
  </style>
  <%- include('blocks/footer') %>
  <script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
  <script src="./js/autoresize.js" defer></script>
  <script src="./js/offers.js" defer></script>
  </body>
</html>

