<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1><i class="fas fa-list"></i> Requests</h1>
      <p style="font-size: 120%;">If you are in need of resources, <a href="/new">create a new request</a>.</p>
      <form id="search" onsubmit="search(); return false;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="item-input" placeholder="Item" maxlength="30">&nbsp;&nbsp;
          <input type="text" class="form-control" id="author-input" placeholder="Author" maxlength="20">&nbsp;&nbsp;
          <input type="text" class="form-control" id="date-input" placeholder="Date" maxlength="15">&nbsp;&nbsp;
          <input type="text" class="form-control" id="quantity-input" placeholder="Quantity" maxlength="10">&nbsp;&nbsp;
          <input type="text" class="form-control" id="location-input" placeholder="Location" maxlength="40">
        </div>
        <button type="submit" class="btn btn-primary" onclick="search()"><i class="fas fa-search" style="color: #fff !important"></i> Search</button>
        <button type="button" class="btn btn-primary" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);" onclick="window.location = `${location.origin}/requests`"><i class="fas fa-trash"></i> Reset</button><br>
      </form>  
      <div class="table-responsive">
        <table class="table" id="dateTable">
          <thead>
            <tr id="head">
              <th scope="col">Item</th>
              <th scope="col">Author</th>
              <th scope="col">Information</th>
              <th scope="col">Controls</th>
            </tr>
          </thead>
          <tbody id="table">
            <tr id="loading1" style="color: rgba(0, 0, 0, 0.3)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.3)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading2" style="color: rgba(0, 0, 0, 0.25)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.25)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading3" style="color: rgba(0, 0, 0, 0.2)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.2)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading4" style="color: rgba(0, 0, 0, 0.15)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.15)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
            <tr id="loading5" style="color: rgba(0, 0, 0, 0.1)">
              <th scope="row" style="color: rgba(107, 99, 255, 0.1)">Loading...</a></th>
              <td>Loading...</td>
              <td>Loading...</td>
              <td>Loading...</td>
            </tr>
          </tbody>
          <br />
        </table>
      </div>
      
    </div>
  </div><br>
  <%- include('blocks/footer') %>
  <script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
  <script src="./offers.js" defer></script>
  </body>
</html>

