<%- include('blocks/app-header') %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <center>
            <img id="prof-img" class="hover" style="user-select: none; margin-bottom: 10px; border: 2px solid #000; border-radius: 100%">
            <h1 id="prof-head" class="card-title" style="font-size: 170%">Profile</h1>
            <p id="prof-link"></p>
          </center>
          <p id="logoff"> 
            
          </p>
          <form onsubmit="return false;">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" id="name" readonly>
            </div>
            <div class="form-group">
              <label for="rep">Repuation</label>
              <input type="text" class="form-control" value="Loading..." id="rep" readonly>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" value="Loading..." id="email" readonly>
            </div>
            <div class="form-group">
              <!-- <label for="phone">Phone</label> -->
              <input type="hidden" class="form-control" value="Loading..." id="phone" readonly>
            </div>
            <div class="form-group">
              <!-- <label for="location">Location</label> -->
              <input type="hidden" class="form-control" value="Loading..." id="location" readonly>
            </div>
            <p id="change">
              <button class="btn btn-primary" id="give-rep"><i style="color: #fff !important" class="fas fa-plus"></i> Give Rep</button>
            </p>
          </form>
          <div id="disqus_thread"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%- include('blocks/footer') %>
  <style>
    body {
      background: #F6F6F6 !important;
    }
  </style>
  <script src="./js/profile.js" defer></script>
  <script>
    var disqus_config = function () {
      this.page.url = window.location.href; 
      this.page.identifier = (new URLSearchParams(window.location.search)).get('id');
      this.callbacks.onNewComment = [function(comment) {
        console.log(comment.id);
        console.log(comment.text);
        fetch(`${window.location.origin}/v1/offer/increment?id=${ID}`)
      }];
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://corona-4.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
</body>
</html>
