<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1 id="prof-head">Profile</h1>
      <form onsubmit="return false;">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" id="name" readonly>
        </div>
        <div class="form-group">
          <label for="rep">Repuation</label>
          <input type="text" class="form-control" value="Loading..." id="rep" readonly>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" value="Loading..." id="email" readonly>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" value="Loading..." id="phone" readonly>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" value="Loading..." id="location" readonly>
        </div>
        <p id="change">
          <button class="btn btn-primary" id="give-rep"><i style="color: #fff !important" class="fas fa-plus"></i> Give Rep</button>
        </p>
      </form><br><hr>
      <h1>Open Requests by User</h1>
      <table class="table" id="dateTable">
        <thead>
          <tr id="head">
            <th scope="col">Item</th>
            <th scope="col">Date</th>
            <th scope="col">Quantity</th>
            <th scope="col">ID</th>
            <th scope="col">Controls</th>
          </tr>
        </thead>
        <tbody id="table">
          
        </tbody>
        <br />
      </table>
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright &copy; 2020 <a href="#">COVID Heroes</a>. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./profile.js" defer></script>
</body>
</html>
