<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1 id="reqid"></h1>
      <form id="req">
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control" id="item" value="Loading..." readonly>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" value="Loading..." readonly>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="email" class="form-control" id="date" value="Loading..." readonly>
        </div>
        <div class="form-group">
          <label for="location">Dropoff Location</label>
          <input type="email" class="form-control" id="location" value="Loading..." readonly>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="phone" class="form-control" id="quantity" value="Loading..." readonly>
        </div>
      </form><br>
      <h1>
        How to Fulfill
      </h1>
      <p style="font-size: 120%">
        1. Copy and Paste <mark style="background: #6C63FF;"><code><b style="color: #fff !important; font-family: 'Metropolis';" id="prof-link"></b></code></mark> into your comment.<br>
        2. Write what <b>date and time</b> you can drop off the resources.<br>
        3. Add any <b>optional/alternative</b> ways to obtain requested resources.
      </p>
      <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = window.location.href; 
        this.page.identifier = (new URLSearchParams(window.location.search)).get('id');
      };

      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://corona-4.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright &copy; 2020 COVID Heroes. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script id="dsq-count-scr" src="//corona-4.disqus.com/count.js" async></script>
  <script src="/request.js" defer></script>
</body>
</html>
