<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1>Join the Fight</h1>
      <p>Create your account here. </p>
      <form id="signup">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" id="name" placeholder="Enter username" maxlength="20" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email" maxlength="30" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" maxlength="30" required>
          <small id="userHelp" class="form-text text-muted">We'll never share your personal details with anyone else.</small>
        </div>
        <div class="g-recaptcha" data-sitekey="6LepN-MUAAAAAIaZKV-BSSEm-krAwdDo3jzZP53t" data-callback="enable"></div><br>
        <button type="submit" class="btn btn-primary" id="submit" disabled><i class="far fa-fist-raised" style="color: #fff !important"></i> Join</button>
      </form>
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright &copy; 2020 COVID Heroes. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./signup.js" defer></script>
</body>
</html>
