<%- include('blocks/app-header') %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1 class="card-title" style="font-size: 170%">Join the Fight</h1>
          <p>Create your account here. </p>
          <form id="signup">
            <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" id="name" placeholder="Enter username" maxlength="20" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Email" maxlength="50" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter Password" maxlength="30" required>
            </div>
            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input type="password" class="form-control" id="password-confirm" placeholder="Enter Password Again" maxlength="30" required>
              <small id="userHelp" class="form-text text-muted">By signing up to COVID Heroes, you automatically agree to our <a target="_blank" href="/terms">Terms of Service</a>.</small>
            </div>
            <div class="g-recaptcha" data-sitekey="6LepN-MUAAAAAIaZKV-BSSEm-krAwdDo3jzZP53t" data-callback="enable"></div><br>
            <button type="submit" class="btn btn-primary" id="submit" disabled><i class="fas fa-user-plus" style="color: #fff !important"></i> Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  body {
    background: #F6F6F6 !important;
  }
</style>
  <%- include('blocks/footer') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/email-autocomplete/0.1.3/jquery.email-autocomplete.min.js"></script>
  <script src="./js/signup.js" defer></script>
</body>
</html>
