<%- include('blocks/app-header') %>
    <div class="container text-center">
          <p class="card-text"><br>
            <h1><i class="fas fa-book"></i> Stories</h1>
            <p style="font-size: 120%;">What are people doing right now to help? If you want to submit a story, email <b>aiden@covidheroes.net</b></p>
            <div class="fb-share-button" style="vertical-align: middle;" data-href="https://covidheroes.net" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcovidheroes.net%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              &nbsp;&nbsp;&nbsp;<a
              class="twitter-share-button"
              data-size="large"
              href="https://twitter.com/intent/tweet?text=I+am+using+COVID+Heroes+-+https://covidheroes.net/"
            >
              Tweet</a
            >
          
            <center><br>
            <%- include('blocks/alert') %>
          </p>
    </div>
    <br style="margin-bottom: 25px;">
    <div class="container text-center" style="text-align: center">
      <center>
        <div class="row card-columns hidden-md-down" id="cardView">
          <div class="col-sm-12" style="margin-bottom: 30px;">
            <div onclick="window.open('https://papermakerpride.com/', '_blank')" class="card" style="border: none; border-top: 0px solid #6b63ffbb; box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.06) !important;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img style="object-fit: cover; height: 100%" src="//cdn.shopify.com/s/files/1/0257/8998/8969/files/Keela_IMG_2815V2_986a6765-14db-40f7-a7f3-d34ba8145d59_360x.jpg?v=1588632709 360w 151h" class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">#CamasUnites</h5>
                    <p class="card-text">Papermaker Pride is working to unite the city of Camas in support of our families most impacted by this pandemic. We are selling a combination of T-shirts, sweatshirts, and custom flags to families, individuals and businesses in Camas. 100% of the profit from #CamasUnites merchandise and monetary donations will be donated to the Camas Schools Backpack Program and the Family-Community Resource Center.</p>
                    <p class="card-text"><small class="text-muted">Last updated 5/7/2020</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div onclick="window.open('https://team2471.org/infinite-resource/', '_blank')" class="card" style="border: none; border-top: 0px solid #6b63ffbb; box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.06) !important;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img style="object-fit: cover; height: 100%" src="https://team2471.org/wp-content/uploads/2020/03/Eyeglasses-2.jpeg" class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Infinite Resource</h5>
                    <p class="card-text">The students and mentors of the Camas High School (CHS) Robotics/FRC Team 2471, 4-H Clover Bots Robotics Team, and CHS Science Olympiad have designed, 3D-printed and distributed eye masks and face shields to keep doctors safe while they are at the front lines of COVID-19.</p>
                    <p class="card-text"><small class="text-muted">Last updated 5/7/2020</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div><br>
  <style>
    body {
      background: #F6F6F6;
    }
  </style>
  <%- include('blocks/footer') %>
  <script>
    window.twttr = (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
  
      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };
  
      return t;
    })(document, 'script', 'twitter-wjs');
  </script>
  <script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
  <script src="./js/autoresize.js" defer></script>
  <script src="./js/tilt.min.js" defer></script>
  </body>
</html>

