<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1>Our Team</h1>
      <p style="font-size: 120%">We're an aspiring group of student volunteers stepping up to unite communities to help each other with software.</p>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/aiden.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Aiden Bai</h4>
              <p class="card-text">Aiden is a freshman at Camas High School and is a developer for COVID Heroes. He enjoys programming, Science Olympiad, and playing ping pong. </p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@aidenybai" class="btn btn-primary">@aidenybai</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/ashton.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Ashton Doane</h4>
              <p class="card-text">Ashton is a sophomore at Camas High School and is a developer for COVID Heroes. He enjoys Science Olympiad, learning, and playing tennis. </p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@ashtondoane" class="btn btn-primary">@ashtondoane</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100"  style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/ben.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Benjamin Saunders</h4>
              <p class="card-text">Ben is a junior at Camas High School and is a developer for COVID Heroes. He enjoys Knowledge Bowl, playing video games, and programming. </p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff">
              <a style="color: #fff !important" href="/@benjaminsaunders" class="btn btn-primary">@benjaminsaunders</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <%- include('blocks/footer') %>
</body>
</html>
