<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <center>
        <h1>Our Team</h1>
        <p style="font-size: 120%">We're an aspiring group of student volunteers stepping up to unite communities to help each other with software. Ownership of project belongs to Camas Science Olympiad team.</p>
      </center>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/aiden.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Aiden Bai</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Project Manager</span><br>Aiden is a freshman at Camas High School and is a project manager for COVID Heroes. He enjoys programming, Science Olympiad, and playing ping pong. </p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@aidenybai" class="btn btn-primary">@aidenybai</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/ashton.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Ashton Doane</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Developer</span><br>Ashton is a sophomore at Camas High School and is a developer for COVID Heroes. He enjoys Science Olympiad, learning, and playing tennis. </p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@ashtondoane" class="btn btn-primary">@ashtondoane</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100"  style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/ben.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Benjamin Saunders</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Developer</span><br>Ben is a junior at Camas High School and is a developer for COVID Heroes. He enjoys Knowledge Bowl, playing guitar, and programming. </p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff">
              <a style="color: #fff !important" href="/@benjaminsaunders" class="btn btn-primary">@benjaminsaunders</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/naoto.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Naoto Uemura</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Developer</span><br>Naoto is a sophomore at Camas High School and is an developer for COVID Heroes. He enjoys playing tennis, piano, and Science Olympiad.</p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@naotost" class="btn btn-primary">@naotost</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/melinda.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Melinda Chang</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Designer</span><br>Melinda is an 8th grader at Pacific Trails Middle School and a designer for COVID Heroes. She enjoys playing the guitar and eating Korean BBQ.</p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@mhchang" class="btn btn-primary">@mhchang</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/anabel.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Anabel Jiang</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Designer</span><br>Anabel is a freshman at Camas High School and is an illustrator and writer for COVID Heroes. She enjoys music, Science Olympiad and drawing.</p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@anabejiang" class="btn btn-primary">@anabejiang</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="card h-100" style="border: 3px solid #6c63ff">
            <img class="card-img-top" src="/img/austin.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: bold">Austin Shin</h4>
              <p class="card-text"><span class="badge badge-outline-primary" style="margin-bottom: 15px; font-size: 110%">Marketer</span><br>Austin is a freshman at Camas High School and markets for COVID Heroes. He enjoys playing tennis and playing with his dog during his free time.</p>
            </div>
            <div class="card-footer" style="text-align:center; background: #fff"">
              <a style="color: #fff !important" href="/@austinshin" class="btn btn-primary">@austinshin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div><br>
  <%- include('blocks/footer') %>
  <script src="/js/index.js"></script>
</body>
</html>
