<%- include('blocks/header') %>
    <div class="container mt-2">
      <h1>Your Profile</h1>
      <form onsubmit="return false;">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" id="name" placeholder="Enter username" disabled>
        </div>
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" placeholder="Enter ID" disabled>
        </div>
        <div class="form-group">
          <label for="rep">Reputation</label>
          <input type="text" class="form-control" id="rep" placeholder="Enter ID" disabled>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email" disabled>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="phone" class="form-control" id="phone" placeholder="1234567890" disabled>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="location" class="form-control" id="location" placeholder="1234 NE 33nd Ave, Camas WA" disabled>
        </div>
      </form>
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright &copy; 2020 COVID Heroes. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./user.js" defer></script>
</body>
</html>
