<%- include('blocks/header') %>
    <div class="container"></div>
    <div class="container mt-2">
      <h1>Heroes</h1>
      <table class="table" id="dateTable">
        <thead>
          <tr id="head">
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Reputation</th>
          </tr>
        </thead>
        <tbody id="table">
          
        </tbody>
        <br />
      </table>
    </div>
  </div><br>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&copy; 2019-present COVID Heroes. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="./users.js" defer></script>
  </body>
</html>

