<%- include('blocks/app-header') %>
<div class="container"></div>
<div class="container" style="text-align: center;">
  <h1><br><i class="fas fa-users"></i> Heroes</h1>
  <p style="font-size: 120%;">Who's currently contributing the most?</p>
  <div class="fb-share-button" style="vertical-align: middle;" data-href="https://covidheroes.net" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcovidheroes.net%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    &nbsp;&nbsp;&nbsp;<a
    class="twitter-share-button"
    data-size="large"
    href="https://twitter.com/intent/tweet?text=I+am+using+COVID+Heroes+-+https://covidheroes.net/"
  >
    Tweet</a
  ><br><br>
  <%- include('blocks/alert') %>
  <div class="table-responsive">
    <table class="table" id="dateTable" style="border-radius: 10px !important">
      <thead>
        <tr id="head">
          <th scope="col">Name</th>
          <th scope="col">Reputation</th>
        </tr>
      </thead>
      <tbody id="table" style="background: #fff">
        <tr id="loading1" style="color: rgba(0, 0, 0, 0.3)">
          <th scope="row" style="color: rgba(107, 99, 255, 0.3)">Loading...</a></th>
          <td>Loading...</td>
        </tr>
        <tr id="loading2" style="color: rgba(0, 0, 0, 0.25)">
          <th scope="row" style="color: rgba(107, 99, 255, 0.25)">Loading...</a></th>
          <td>Loading...</td>
        </tr>
        <tr id="loading3" style="color: rgba(0, 0, 0, 0.2)">
          <th scope="row" style="color: rgba(107, 99, 255, 0.2)">Loading...</a></th>
          <td>Loading...</td>
        </tr>
        <tr id="loading4" style="color: rgba(0, 0, 0, 0.15)">
          <th scope="row" style="color: rgba(107, 99, 255, 0.15)">Loading...</a></th>
          <td>Loading...</td>
        </tr>
        <tr id="loading5" style="color: rgba(0, 0, 0, 0.1)">
          <th scope="row" style="color: rgba(107, 99, 255, 0.1)">Loading...</a></th>
          <td>Loading...</td>
        </tr>
      </tbody>
      <br />
    </table>
  </div>

</div>
</div><br>
<style>
  body {
    background: #F6F6F6;
  }
</style>
<%- include('blocks/footer') %>
<script>
  window.twttr = (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://platform.twitter.com/widgets.js';
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  })(document, 'script', 'twitter-wjs');
</script>
<script src="./js/users.js" defer></script>
</body>

</html>