/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap'); */

table {
  border: 1px solid #dee2e6 !important;
  border-radius: 15px !important;
}

thead {
  background: rgba(222, 226, 230, 0);
}

body {
  font-family: 'MetropolisRegular', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Metropolis', sans-serif;
}

.btn-primary:hover {
  background: rgb(59, 37, 185) !important;
}

a {
  color: #6C63FF !important;
  font-weight: bold;
}

.panel-default {
  background: #6C63FF;
}

code {
  color: #6C63FF !important;
}

.maps {
  float: left;
}

table {
  text-align: center;
}

input:focus,
textarea:focus {
  border-color: #6C63FF !important;
}

canvas {
  padding: 0 5%;
  width: 90% !important;
  height: 60% !important;
  overflow: hidden;
}
/* @media screen and (device-width: 750px){
  canvas{
    width: 90vw !important;
    height: calc(750/1334 * 100%) !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 1242px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 768px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 1536px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 480px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 720px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 540px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
}
@media screen and (device-width: 1024px){
  canvas{
    width: 90vw !important;
    height: 30vh !important;
    overflow: hidden;
  }
} */

.the-project {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 0;
}

.chart-desc {
  font-size: larger;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-danger,
.btn-secondary {
  border-color: #f5f4f9 !important;
  background: transparent !important;
  outline: #f5f4f9 !important;
  border-radius: 1000px !important;
  padding: 1px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 5px;
  margin-right: 5px;
  color: #666666 !important;
}


h1 {
  font-weight: bold;
}

.btn-outline-primary {
  border-color: #6C63FF !important;
  outline: #6C63FF !important;
  color: #6C63FF !important;
}

.badge-outline-primary {
  border: 1px solid #6C63FF !important;
  outline: #6C63FF !important;
  color: #6C63FF !important;
  background: transparent !important;
}
.btn-outline-primary:hover {
  background: rgba(67, 112, 255, 0.2) !important;
  border-color: #6C63FF !important;
  outline: #6C63FF !important;
}

.btn-primary,
.badge-primary {
  background: #6C63FF !important;
  text-transform: capitalize;
  outline: none;
  border: none;
  margin-right: 1%;
  font-weight: bold;
  padding: 12px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10000px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

::selection {
  background: #6C63FF;
  color: #fff !important;
}

input {
  /* background: #FDFDFD !important; */
}

.fas {
  color: #6C63FF !important;
  margin-right: 2px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
[type='text'].form-control:focus,
[type='password'].form-control:focus,
[type='email'].form-control:focus,
[type='tel'].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}

.fonticon:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}

tr,
#pins {
  background: rgba(206, 212, 218, 0.05) !important;
}

#head {
  background: #fff !important;
}

.nonbutton {
  background: none;
  border: none;
  outline: none !important;
}

td,
th {
  border: none !important;
}

#navbar {
  background: #fff !important;
  border-bottom: 0px solid #dee2e6 !important;
}

html,
body {
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
