@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

table {
  border: 0px solid #DEE2E6 !important;
  border-radius: 15px !important;
}

thead {
  background: rgba(222, 226, 230, 0);
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

.btn {
  /* font-weight: bold !important; */
}

.btn:focus,
input:focus {
  outline: none !important;
}

input:focus {
  border-color: #DD45D3 !important;
}

.btn-danger,
.btn-secondary {
  border-color: #fff !important;
  background: #fff !important;
  outline: #fff !important;
  color: #000 !important;
}

.btn-outline-primary {
  border-color: #943CFF !important;
  outline: #943CFF !important;
  color: #943CFF !important;
}

.badge-outline-primary {
  border: 1px solid #943CFF !important;
  outline: #943CFF !important;
  color: #943CFF !important;
  background: transparent !important;
}

.badge-primary {
  border: 1px solid #943CFF !important;
  outline: #943CFF !important;
}

.btn-outline-primary:hover {
  background: rgba(67, 112, 255, 0.2) !important;
  border-color: #943CFF !important;
  outline: #943CFF !important;
}

.btn-primary,
.badge-primary {
  background: #943CFF !important;
}

.btn-primary:hover {
  background: #5667fc !important;
}

.fas {
  color: #943CFF !important;
  margin-right: 2px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
[type='text'].form-control:focus,
[type='password'].form-control:focus,
[type='email'].form-control:focus,
[type='tel'].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}

.fonticon:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}

tr, #pins {
  background: rgba(206, 212, 218, 0.05) !important;
}

#head {
  background: #fff !important;
}

body {
  padding: 2%;
}