<div class="alert alert-primary" role="alert">
  <div class="d-flex">
    <div>
      <p class="card-text" style="text-align: left !important;">
        <h5 class="card-title" style="text-align: left; font-weight: bold">Need help or can help?</h5>
        <p style="text-align: left !important;">
          Create a new post! Note: we recommend at least <b><i class="fas fa-sort-up" style="color: #fff !important"></i>1</b> rep to post.
        </p>
      </p>
    </div>
    <div class="ml-auto" style="padding-top: 22px">
      <a href="/new" class="btn btn-primary hover align-bottom" style="background: #fff !important; color: #6C63FF !important; box-shadow: 0 0 3.2rem rgba(0,0,0,0) !important; text-shadow: 0 0 3.2rem rgba(0,0,0,.12);">
        Post
      </a>
    </div>
  </div>           
</div>