    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>&copy; 2019-present CoronaExchange. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script src="./index.js" defer></script>
  </body>
</html>