    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright &copy; 2020 <a href="#">COVID Heroes</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>