    <footer class="text-center" style="padding-top: 15px;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>
              <a href="/terms">Terms</a> — 
              <a target="_blank" href="https://forms.gle/uej9CvqGuXzBE2DQ8">Report bugs</a> — 
              <a target="_blank" href="https://instagram.com/covid_heroes_official">Instagram</a> — 
              <a target="_blank" href="https://github.com/10hstartup">Github</a> —
              <a target="_blank" href="https://www.gofundme.com/f/help-create-covid-heroes?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1">GoFundMe</a> — 
              <a target="_blank" href="https://www.producthunt.com/posts/covid-heroes?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-covid-heroes">ProductHunt</a>
            </p>
            <p>Copyright &copy; 2020 <a href="#">COVID Heroes</a>. All rights reserved.</p>
            <p>Officially Sponsored by</p>
            <a href="http://vca-usa.org/" target="_blank"><img style="filter: grayscale(1); opacity: 0.9; margin-bottom: 25px;" target="_blank" src="/img/vca-logo.png" width="80px;" title="Vancouver Chinese Association"></a>
          </div>
        </div>
      </div>
    </footer>
    <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
    <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
    