    <footer class="text-center" style="padding-top: 15px;">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>
              <a href="/terms">Terms</a> — 
              <a href="https://instagram.com/covid_heroes_official">Instagram</a> — 
              <a href="https://twitter.com/covidheroes">Twitter</a> — 
              <a href="https://github.com/10hstartup">Github</a> —
              <a href="https://www.gofundme.com/f/help-create-covid-heroes?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1">GoFundMe</a> — 
              <a href="https://www.producthunt.com/posts/covid-heroes?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-covid-heroes">ProductHunt</a>
            </p>
            <p>Copyright &copy; 2020 <a href="#">COVID Heroes</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>