<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#6C63FF">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta description="The platform for exhanging needed materials using requests and fulfillments.">

    <meta property="og:title" content="COVID Heroes">
    <meta property="og:description" content="The platform for exhanging needed materials using requests and fulfillments.">
    <meta property="og:image" content="/logo.png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.11.2/css/pro.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="/style.css"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <title>COVID Heroes</title>

    <script src="/header.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.0.8/purify.min.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161775281-1"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161775281-1');
    </script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-light" style="font-weight: bold !important; margin-bottom: 2%; background: rgba(255, 255, 255, 0.95) !important" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <button class='nonbutton' onclick="window.location='/'"><img src="/text_logo.svg" height="30" class="d-inline-block align-top" alt="">
        </a>
        <div class="form-inline my-2 my-lg-0">
          <button class="btn"><a style="color: #000 !important; font-weight: bold !important" class="hitbox" href="/requests">Requests</a></button>
          <button class="btn"><a style="color: #000 !important; font-weight: bold !important" class="hitbox" href="/heroes">Heroes</a></button>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #000 !important; font-weight: bold !important">
              More
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdown">
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" href="/discuss">Discuss</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" href="/team">Our Team</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" href="https://github.com/10hstartup" target="_blank">Github</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" href="https://www.gofundme.com/f/help-create-covid-heroes?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1" target="_blank">GoFundMe</a>
              <a style="color: #000 !important; font-weight: 100; background: #fff !important;" class="hover dropdown-item" href="https://www.producthunt.com/posts/covid-heroes?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-covid-heroes" target="_blank">ProductHunt</a>
            </div>
          </div>
        </div>
        <div class="form-inline my-2 my-lg-0" id="account">
          
        </div>
      </div>
    </nav>